#works {
  min-height: calc(100vh - 5rem);
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  overflow-y:auto;
  overflow-x: hidden;
}
.worksTitle {
 margin: 1rem 0.5rem;;
  font-size: 3rem;
}
.worksImgs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 60rem;
}
.worksImg {
  object-fit: cover;
  height: 20rem;
  margin: 0.5rem;
}
.companyPos{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.position{
  font-weight: 200;
  padding-left: 0.5em;
}
.workBarText > p {
  font-size: 1rem;
  font-weight: 200;
}
@media screen and (max-width: 500px) {
  .worksImg {
    height: 15rem;
  }
  .workBarText>p, .companyPos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}