.logo {
  width: 4rem;
  height: 5rem;
  object-fit: cover;
}
.navbar {
  max-width: 90rem;
  height: 5rem;
  width: 100vw;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  background: rgb(30, 30, 30);
}
.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
}
.desktopMenuListItem:hover {
  color: burlywood;
  border-bottom: 3px solid burlywood;
  padding-bottom: 0.5rem;
}
.desktopMenuButton {
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0 1rem;
  border-radius: 2rem;
  height: 2rem;
}
.desktopMenuButton:hover{
  padding: 0.1rem 1.1rem;
  box-shadow: 2px 3px rgb(162, 144, 144);
}
.desktopMenuImg {
  height: 1rem;
  width: 1rem;
  object-fit: cover;
  margin-right: 0.5rem;
}
@media screen and (max-width: 400px) {
  .navbar {
    max-width: 50rem;
    overflow: auto;
  }
}
.active {
  color: yellow;
  border-bottom: 3px solid yellow;
  padding-bottom: 0.5rem;
}
.navMenu{
  position:absolute;
  top: 4rem;
  right: 2rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: max-content;
  min-width: 15rem;
  background: rgb(40,40,40);
  border-radius: 1rem;  
}
.listItem{
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: rgb(30, 30, 30);
  cursor: pointer;
}
.mobmenu{
  display: none;
  object-fit: cover;
  height: 1.6rem;
  cursor: pointer;
}
@media screen and (max-width:720px) {
  .mobmenu{
    display: flex;
    color: yellow;
  }
  .desktopmenu{
    display: none;
  }
  .desktopMenuButton{
    display: none;
  }
}
@media screen and (max-width:500px) {

  .navMenu{
    position: fixed;
    z-index: 9999;
  }
}