#intro {
  width: 100vw;
  height: calc(100vh - 5rem);
  max-width: 90rem;
  overflow: hidden;
  margin: 1rem auto;
  position: relative;
}
.introContent {
  height: 90vh;
  width: 100vh;
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
}
.introPara {
  font-size: 1rem;
  font-weight: 300;
}
.name {
  color: yellow;
}
.btn {
  background: white;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.btnimg {
  margin: 0 0.25rem;
  height: 1rem;
  object-fit: cover;
}
.pic {
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  height: 90vh;
  right: 0;
}
@media screen and (max-width: 1155px) {
  .introContent {
    font-size: 8vw;
  }
  .introPara {
    font-size: 2vw;
    font-weight: 200;
    color: burlywood;
  }
  .description {
    color: burlywood;
  }
  .hello {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 540px) {
  .introContent {
    font-size: 9vw;
  }
  .description {
    color: burlywood;
    font-size: 9vw;
  }
  .pic {
    right: -7rem;
  }
  .introPara {
    font-size: 3vw;
    font-weight: 400;
    color: burlywood;
    max-width: 56%;
  }
}
@media screen and (max-width: 500px) {
  .pic {
    right: -5rem;
  }
  .name {
    color: tomato;
  }
  .introText {
    color: burlywood;
  }
  .hello {
    font-size: 5.5vw;
    font-weight: 400;
  }
  .introPara{
    width: 47%;
  }
}
