#contact {
  min-height: calc(100vh - 5rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
}
.contactDescription {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}
.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}
.yourname,
.email,
.message {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);
}
.submit {
  background: white;
  padding: 0.75rem 3.5rem;
  border: none;
  border-radius: 0.5rem;
  margin: 2rem;
  cursor: pointer;
}
.links {
  display: flex;
  flex-wrap: wrap;
}
.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 0 0.75rem;
}
