#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  overflow-y: scroll;
}
.skillTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}
.skillDescription {
  font-weight: 400;
  font-size: 1rem;
  max-width: 50rem;
  padding: 0 2rem;
}
.skillBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
  cursor: pointer;
}
.skillBar {
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  background: rgb(50, 50, 50);
}
.skillListBars {
    width: 100vw;
    display: contents;
    max-width: 60vw;
}
.skillListBar{
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  margin: 1rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  flex-wrap: wrap;
}
.skillListBar::-webkit-scrollbar {
  display: none;
}
.skillBarImage, .skilllanguages {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
}
.skillBarImage{
  margin-right: 2rem;
}
.skillBarChildText {
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 50px;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dropDown{
  margin-left: auto;
}

@media screen and (max-width: 720px) {
  .skillBars {
    max-width: 100%;
  }
  #skills {
    height: fit-content;
  }
  .skillListBar {
    margin: 0 2rem;
    width: 21rem;
    display: grid;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
  }
  .skillBarChildText {
margin: 0 0.5rem;
padding-left: 2rem;
font-size: 0.6rem;
white-space: nowrap;
  }
}
@media screen and (max-width: 500px){
  #skills {
    overflow-y: scroll;
  }
  .skillBar {
font-size: 0.7rem;
  }
}
